body {
    background: url("/static/images/img1.jpeg") center/cover no-repeat;
    color: #fff;
    height: 100vh;

}


.container {
    text-align: center;
    background-color: rgba(186, 176, 176, 0.9);
    border-radius: 8px;
    margin-top: 8%;
    padding: 2%;
    width: 40%;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}



.form-group {
    margin-bottom: 20px;
}

.btn-custom {
    margin-top: 20px;
}
a{
    color: black !important;
}